@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Playfair+Display&display=swap');

:root {
  --font-lato: 'Lato', sans-serif;
  --font-opensans: 'Open Sans', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

body {
  font-family: var(--font-lato);
}
